/* Reset */
* {
    margin: 0;
    padding: 0;

}
.contener{
    width: 90%;
    margin: 40px;
    padding: 30px;
}

nav{
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: blue;
    padding: 15px;
}


div img{
    display: flex;
}
.facebook {
    font-size: 30px;
    color: blue;
}
.instagram {
    font-size: 30px;
    color: rgb(255, 0, 34);
}
.twiter {
    font-size: 30px;
    color: blue;
}
.youtube {
    font-size: 30px;
    color: red;
}
#lele{
    background-image: url("background-water-.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 2090px;
}
#wadd{
    background-image: url("baltana.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#beliz{
    background-image: url("water-back.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 2090px;

}
#yayu{
    background-image: url("water-back.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 2090px;
}
#pimp{
    background-image: url("pimp.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 2090px;
}
   
