/* Reset */
* {
    margin: 0;
    padding: 0;

}
.contener{
    width: 90%;
    margin: 40px;
    padding: 30px;
}

nav{
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: blue;
    padding: 15px;
}

body{
    background-image: url("texture-agua.jpg");
    background-repeat: no-repeat;
    background-size: 1500px;
}
div img{
    display: flex;
}
.facebook {
    font-size: 30px;
    color: orange;
}
.instagram {
    font-size: 30px;
    color: orange;
}
.twiter {
    font-size: 30px;
    color: orange;
}
.youtube {
    font-size: 30px;
    color: red;
}
   
